<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
        <title>PF 2014</title>
        <link href="css/font-awesome-4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/constellation.css" rel="stylesheet" type="text/css" />

    </head>
    <body ng-controller="ConstellationController" ng-init="init()">
        <script src="js/jquery/1.9.0/jquery.min.js"></script>
        <script src="js/jquery/1/jquery-ui.min.js"></script>
        <script src="js/angularjs/1.2.6/angular.min.js"></script>
        <script src="js/angularjs/1.2.6/angular-touch.min.js"></script>
        <script src="js/angularjs/angular-dragdrop.min.js"></script>
        <script src="js/angularjs/angular-local-storage.js"></script>

        <!--<script type="text/javascript" src="cordova.js"></script>-->
        <script type="text/javascript" src="js/constellation.js"></script>
        <script type="text/javascript" src="js/constellation-controller.js"></script>

        <div id="constellationController" class="{{levelName}}" >
            <div id="imageContainer" ng-hide="isLevelSelectorVisible">
                <div id="constellationInfo">{{constellation.title}}</div>

                <div class="leaveLevelButton" ng-style="getLevelLeaveStyle()">
                    <i  class="fa fa-star-half-o"
                        data-drop="true"
                        jqyoui-droppable="{onDrop:'showLevelList'}"></i>Select other level
                </div>

                <i ng-repeat="item in visibleStars" ng-style="getStarStyle(item)" class="fa fa-star-o"></i>

                <div class="line" ng-repeat="line in visibleLines" ng-style="getLineStyle(line)"></div>

                <i data-drag="true"
                   data-jqyoui-options="{revert: true}"
                   jqyoui-draggable=""
                   data-drop="true"
                   jqyoui-droppable="{onDrop:'starDrop'}"
                   class="positionMarker fa fa-star {{visibleStarClass}}"
                   data-index="{{$index}}"
                   ng-repeat="item in visibleStars" ng-style="getStarStyle(item)"></i>

                <div ng-style="getLevelInfoStyle()" ng-show="currentLevelIndex < outroIndex">
                    Level: {{currentLevelIndex+1}}/12
                </div>
            </div>
            <div id="startLevel" class="levelButton" ng-show="isStartConfirmation" ng-click="startGame()">
                <i class="fa fa-flag-checkered"></i>Start</div>
            <div id="levelComplete" ng-show="isLevelCompleteScreenVisible">
                <div id="congratulation">Congratulations!</div>
                <div>
                    <a class="levelButton" id="replayButton" ng-click="restartLevel()"><i class="fa fa-repeat"></i>Play again</a>
                    <a class="levelButton" id="nextButton" ng-click="nextLevel()" ng-hide="isFinalScreenVisible"><i class="fa fa-arrow-right" ></i>Next level</a>
                </div>
                <div>
                    <a class="levelButton" id="wikiButton" ng-click="openUrl(constellation.wiki)" ng-hide="isFinalScreenVisible">
                        <i class="fa fa-book" ></i>Read more at Wikipedia.org</a>
                    <a class="levelButton" id="webButton" ng-click="openUrl(constellation.wiki)" ng-show="isFinalScreenVisible">
                        <i class="fa fa-thumbs-up" ></i>Visit PF 2014 website</a>
                </div>
            </div>

            <div id="levelSelector" ng-show="isLevelSelectorVisible">
                <h2>How to play:</h2>
                <div id="infoGraphics">
                    <img src="img/info.png"/>
                </div>
                <h2>Select level:</h2>
                <div ng-repeat="level in levelLock" class="levelItem {{level.state}}">
                    <div ng-show="level.state == 'unlocked'" ng-click="startLevel($index)">{{level.text}}</div>
                    <div ng-show="level.state == 'locked'"><i class="fa fa-lock"></i></div>
                </div>


                <div class="clearfix"></div>
            </div>
        </div>
        <div id="badges" ng-show="isLevelSelectorVisible">
            <a class="link" href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=791165895&mt=8">
                <img alt="Get it on Apple App Store"
                     src="img/available_on_the_app_store.png" /></a>

            <a class="link" href="https://play.google.com/store/apps/details?id=com.sinusgear.pf">
                <img alt="Get it on Google Play"
                     src="img/en_generic_rgb_wo_45.png" /></a>

            <a class="link" href="http://www.amazon.com/gp/product/B00HMMQK0S/ref=pf2014">
                <img alt="Get it on Amazon"
                     src="img/amazon-apps-store-us-black.png" /></a>

            <a class="link" href="http://github.com/georgik/pf2014">
                <img alt="Get souce code from GitHub"
                     src="img/GitHub-Mark-64px.png" /></a>

            <a class="link" href="http://georgik.sinusgear.com">
                <img alt="Read more at Georgik's blog"
                     src="img/georgik-icon.png" /></a>
            <div class="g-plusone" data-annotation="inline" data-width="300"></div>

            <script type="text/javascript">
                (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/platform.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
        </div>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-8540851-18', 'sinusgear.com');
            ga('send', 'pageview');

        </script>
    </body>
</html>
