/*Stylesheet*/


BODY, HTML {
	margin: 			0;
	padding: 			0;
	font-family: 		Arial, Verdana, sans-serif;
	font-size: 			12px;
	font-weight:		normal;
	color: 				#ccc;
	background-color:	#333;

    height: 100%;
    overflow: hidden;
}

BODY {
}


#imageContainer {
    position: relative;
}

#positionMarker {
    position: absolute;
}

.line {
    background-color: lightyellow;
}


i {
    font-size:2em;
    padding: 10px;
}

#levelComplete {
    background: black;
    position: relative;
    z-index: 200;
    background:rgba(0,0,0,0.7);
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

#congratulation {
    font-size: 3em;
    padding-bottom: 1em;
}

#constellationInfo {
    font-size: 5em;
    color: lightgray;
    bottom: 0;
    text-align: center;
}

.levelButton {
    font-size: 1.2em;
    background: #111;
    border: 1px solid lightgray;
    padding-top: 1em;
    padding-bottom: 0.2em;
    padding-right: 0.5em;
    margin: 1em;
}

#replayButton {
    color: orange;
}

#nextButton {
    color: lightgreen;
}