/*Stylesheet*/


BODY, HTML {
	margin: 			0;
	padding: 			0;
	font-family: 		Arial, Verdana, sans-serif;
	font-size: 			12px;
	font-weight:		normal;
	color: 				#ccc;
	background-color:	#333;

    height: 100%;
    overflow: hidden;
}

BODY {
}


#imageContainer {
    position: relative;
}

.positionMarker {
    cursor: pointer;
}

.line {
    background-color: lightyellow;
}


i {
    font-size:2em;
    padding: 10px;
}

#constellationController {
    height: 100%;
}

#levelComplete {
    background: black;
    position: relative;
    z-index: 200;
    background:rgba(0,0,0,0.7);
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

#congratulation {
    font-size: 3em;
    padding-bottom: 1em;
}

#constellationInfo {
    font-size: 5em;
    color: lightgray;
    bottom: 0;
    text-align: center;
}

.levelButton {
    font-size: 1.2em;
    background: #111;
    border: 1px solid lightgray;
    padding-top: 1em;
    padding-bottom: 0.2em;
    padding-right: 0.5em;
    margin: 1em;
    cursor: pointer;
}

#replayButton {
    color: orange;
}

#nextButton {
    color: lightgreen;
}

.aries {
    background: url(../img/svg/aries.svg) no-repeat center center;
}

.cancer {
    background: url(../img/svg/cancer.svg) no-repeat center center;
}

.taurus {
    background: url(../img/svg/taurus.svg) no-repeat center center;
}

.gemini {
    background: url(../img/svg/gemini.svg) no-repeat center center;
}

.leo {
    background: url(../img/svg/leo.svg) no-repeat center center;
}

/*.virgo {
    background: url(../img/svg/virgo.svg) no-repeat center center;
}*/

.libra {
    background: url(../img/svg/libra.svg) no-repeat center center;
}

.scorpius {
    background: url(../img/svg/scorpius.svg) no-repeat center center;
}

.sagittarius {
    background: url(../img/svg/sagittarius.svg) no-repeat center center;
}

/*.capricornus {
    background: url(../img/svg/capricornus.svg) no-repeat center center;
}*/

.aquarius {
    background: url(../img/svg/aquarius.svg) no-repeat center center;
}

/*.pisces {
    background: url(../img/svg/pisces.svg) no-repeat center center;
}*/

#startLevel {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: lightgreen;
    margin-top: 7em;
    padding-bottom: 1em;
    background:rgba(0,0,0,0.5);
}

#levelSelector {
    max-width: 24em;
    margin-left:auto;
    margin-right:auto;
}

.levelItem {
    width: 3em;
    height: 2em;
    border: 1px solid gray;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    margin-left: 0.5em;
    margin-top: 1em;
    float: left;
    padding-top: 1em;
    cursor: pointer;
    background:rgba(0,0,0,0.5);
}

.locked {
    padding-top: 0.3em;
    padding-bottom: 0.7em;
    color: yellow;
}

.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}

