/*Stylesheet*/


BODY, HTML {
	margin: 			0;
	padding: 			0;
	font-family: 		Arial, Verdana, sans-serif;
	font-size: 			12px;
	font-weight:		normal;
	color: 				#ccc;
	background-color:	#333;

    height: 100%;
    overflow: hidden;
}

BODY {
}


#imageContainer {
    position: relative;
}

#positionMarker {
    position: absolute;
}

.line {
    background-color: lightyellow;
}


i {
    font-size:2em;
    padding: 10px;
}

#levelComplete {
    background: black;
}